$primary: #610000;
$secondary:#2D2C2C;
$success:#49C96D;
$danger:#FD7972;
$info:#17a2b8;
$warning:#FF965D;
$light:#F8F8F8;
$dark:#4A4A4A;
$brd-dark: #300202;
$brd-white:#F8F8F8;
$body-color: #898989;
$body-bg: $brd-white;

$custom-colors: (
  "brd-default": $body-color,
  "brd-dark": $brd-dark
  );
  