@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap');
@import "./colors";

$font-family-base: 'Poppins';

$font-size-root: 18px;
$btn-font-weight: 600;
$input-btn-font-size: .8rem;
$input-btn-font-size-sm: .6rem;
$input-btn-font-size-lg: 1rem;
$input-btn-focus-width:         1px;
$input-btn-focus-color-opacity: 1;
$input-bg: #F8F8F8;
$input-focus-bg: #FFFFFF;
$input-border-width: 0;

$enable-responsive-font-sizes: true;

$table-cell-padding-y:        .75rem;
$table-cell-padding-x:        .75rem;
$table-cell-padding-y-sm:     .55rem;
$table-cell-padding-x-sm:     .55rem;
$enable-negative-margins:     true;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/utilities";


$utilities: (
  "opacity": (
    property: opacity,
    values: (
      0: 0,
      10: .1,
      20: .2,
      30: .3,
      40: .5,
      50: .5,
    )
  ),
);

$utilities: (
  "overflow": (
    responsive: true,
    property: overflow,
    values: visible hidden scroll auto,
  ),
);

@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~assets/webfonts";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

.plyr__poster {
  background-color: #FFFFFF !important;
}

.disablescrolling{
  overflow: hidden !important;
  padding-right: 16.5px !important;
}
.adjusted-width{
   width: calc(100% - 16.5px);
}
.zoomIt-content{
   position: relative;
   padding: 29px 40px 27px 33px;
}
.videoframe{
   display: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.zoomIt-content video {
   border-radius: 19px;
}
.zoomArea{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
p,h3{
    display: block;
}

#zoomIt{
    position: absolute; 
}
.mainVideo {
    border: 5px solid #fff;
    border-radius: 50px;
    max-width: 800px;
}
.videoTab {
   border: 5px solid #4633af;
   border-radius: 50px;
   max-width: 600px;
}