<template>
  <div>
    <!-- <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1" />
        <div class="bounce2" />
        <div class="bounce3" />
      </div>
    </div> -->

    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
      <a class="navbar-brand logo-image" href="index.html"><img src="~/assets/images/22668.png" alt="alternative"></a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-awesome fas fa-bars" />
        <span class="navbar-toggler-awesome fas fa-times" />
      </button>

      <div id="navbarsExampleDefault" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#header">Anasayfa<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="/landscape">Peyzaj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">İletişim</a>
          </li>
        </ul>
        <span class="nav-item social-icons">
          <span class="fa-stack">
            <a href="https://www.facebook.com/ekenelmehmet" target="_blank">
              <i class="fas fa-circle fa-stack-2x" />
              <i class="fab fa-facebook-f fa-stack-1x" />
            </a>
          </span>
          <span class="fa-stack">
            <a href="https://www.twitter.com/mehmetekenel_" target="_blank">
              <i class="fas fa-circle fa-stack-2x" />
              <i class="fab fa-twitter fa-stack-1x" />
            </a>
          </span>
          <span class="fa-stack">
            <a href="https://www.instagram.com/mehmetekenel" target="_blank">
              <i class="fas fa-circle fa-stack-2x" />
              <i class="fab fa-instagram fa-stack-1x" />
            </a>
          </span>
          <span class="fa-stack">
            <a href="https://www.youtube.com/channel/UCZz3ajRJWqf0DbAhVylOMOg" target="_blank">
              <i class="fas fa-circle fa-stack-2x" />
              <i class="fab fa-youtube fa-stack-1x" />
            </a>
          </span>
          <span class="fa-stack">
            <a href="https://www.linkedin.com/in/mehmetekenel" target="_blank">
              <i class="fas fa-circle fa-stack-2x" />
              <i class="fab fa-linkedin fa-stack-1x" />
            </a>
          </span>
        </span>
      </div>
    </nav>

    <header id="header" class="header">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-container">
                <h1><span id="js-rotating">TÜRKİYEDEN, AVRUPADAN, DÜNYADAN</span> <br> ÖZEL ÇEKİMLER </h1>
                <a class="btn-solid-lg page-scroll" href="#your-link">EKİPMANLARIMIZ</a>
              </div>
            </div>
            <div class="col-lg-6">
              <video controls loop autoplay muted class="mainVideo">
                <source src="~/assets/videos/haremtepe.mp4" type="video/mp4">
                Your browser does not support HTML video.
              </video>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div id="details" class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <video controls class="videoTab">
              <source src="~/assets/videos/batum.mp4" type="video/mp4">
              Your browser does not support HTML video.
            </video>
          </div>
          <div class="col-lg-6">
            <div class="text-container">
              <h3>BODRUM/MUĞLA OTELLER</h3>
              <p>Bodrum'da otellerin tanıtımını yapmak amaçlı çektiğim videolara buradan ulaşabilirsiniz.</p>
              <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">BODRUM</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="basic-3">
      <div class="second">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-container">
                <h3>AMERICAN DREAM</h3>
                <p>Geçen yaz Amerika'da çektiğim görüntülere ise buradan ulaşabilirsiniz.</p>
                <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-2">AMERİKA</a>
              </div>
            </div>
            <div class="col-lg-6">
              <video controls class="videoTab">
                <source src="~/assets/videos/karadeniz.mp4" type="video/mp4">
                Your browser does not support HTML video.
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="details" class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <video controls class="videoTab">
              <source src="~/assets/videos/zilkale.mp4" type="video/mp4">
              Your browser does not support HTML video.
            </video>
          </div>
          <div class="col-lg-6">
            <div class="text-container">
              <h3>BODRUM/MUĞLA OTELLER</h3>
              <p>Bodrum'da otellerin tanıtımını yapmak amaçlı çektiğim videolara buradan ulaşabilirsiniz.</p>
              <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox-1">BODRUM</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="details-lightbox-1" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-6">
          <div class="image-container">
            <div class="video-wrapper">
              <a class="popup-youtube" href="https://www.youtube.com/watch?v=S42TafWNA-s" data-effect="fadeIn">
                <img class="img-fluid" src="~/assets/images/details-lightbox-1.png" alt="alternative">
                <span class="video-play-button">
                  <span />
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h3>AMERİKA </h3>
          <hr>
          <p>Leno can easily help you track your personal development evolution if you take the time to set it up.</p>
          <h4>User Feedback</h4>
          <p>This is a great app which can help you save time and make your live easier. And it will help improve your productivity levels.</p>
          <p>You should definitely give it a try when you need a good app.</p>
          <table>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-desktop" />
              </td><td>Responsive layout</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-bullhorn" />
              </td><td>Distinctive CTAs</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-image" />
              </td><td>Image gallery slider</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-envelope" />
              </td><td>Contact forms</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fab fa-font-awesome-flag" />
              </td><td>FontAwesome icons</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-code" />
              </td><td>Well-structured code</td>
            </tr>
          </table>
          <a class="btn-solid-reg" href="#your-link">Daha Fazla</a> <a class="btn-outline-reg mfp-close as-button" href="#details">Geri Dön</a>
        </div>
      </div>
    </div>

    <div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close x-button">
          ×
        </button>
        <div class="col-lg-6">
          <img class="img-fluid" src="~/assets/images/details-lightbox-2.png" alt="alternative">
        </div>
        <div class="col-lg-6">
          <h3>Calendar Input</h3>
          <hr>
          <p>The calendar input function enables the user to setup training, meditation and relaxation sessions with ease.</p>
          <h4>User Feedback</h4>
          <p>This is a great app which can help you save time and make your live easier. And it will help improve your productivity levels.</p>
          <p>You should definitely give it a try when you need a good app.</p>
          <table>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-desktop" />
              </td><td>Responsive layout</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-bullhorn" />
              </td><td>Distinctive CTAs</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-image" />
              </td><td>Image gallery slider</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-envelope" />
              </td><td>Contact forms</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fab fa-font-awesome-flag" />
              </td><td>FontAwesome icons</td>
            </tr>
            <tr>
              <td class="icon-cell">
                <i class="fas fa-code" />
              </td><td>Well-structured code</td>
            </tr>
          </table>
          <a class="btn-solid-reg" href="#your-link">DETAILS</a> <a class="btn-outline-reg mfp-close as-button" href="#details">BACK</a>
        </div>
      </div>
    </div>

    <div class="slider-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Göz atabileceğiniz diğer videolar</h2>

            <div class="slider-container">
              <div class="swiper-container image-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <a class="video-rotate" href="~/assets/images/1.png" target="_blank" data-effect="fadeIn">
                      <video controls class="videoTab">
                        <source src="~/assets/videos/ekenel.mp4" type="video/mp4">
                        Your browser does not support HTML video.
                      </video>
                    </a>
                  </div>

                <!-- <div class="swiper-slide">
                                    <a href="images/2.png" target="_blank" class="" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/7.png" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="images/3.png" target="_blank" class="" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/2.png" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="images/4.png" target="_blank" class="" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/3.png" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="images/5.png" target="_blank" class="" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/4.png" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="images/TURUNCU.jpg" target="_blank" class="" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/5.png" alt="alternative">
                                    </a>
                                </div>

                                <div class="swiper-slide">
                                    <a href="images/adm.jpg" target="_blank" class="" data-effect="fadeIn">
                                        <img class="img-fluid" src="images/6.png" alt="alternative">
                                    </a>
                                </div> -->
                </div>

                <div class="swiper-button-next" />
                <div class="swiper-button-prev" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contact" class="form">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>İletişim</h2>
            <ul class="list-unstyled li-space-lg">
              <li class="address">
                Aşağıdaki formdan bana ulaşabilirsiniz.
              </li>
              <li><i class="fas fa-map-marker-alt" />Konya, Türkiye</li>
              <li><i class="fas fa-phone" /><a class="blue" href="tel:05536844242">+90 553 684 42 42</a></li>
              <li><i class="fas fa-envelope" /><a class="blue" href="mailto:info@mehmetekenel.com">info@mehmetekenel.com</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <form id="contactForm" data-toggle="validator" data-focus="false">
              <div class="form-group">
                <input id="cname" type="text" class="form-control-input" required>
                <label class="label-control" for="cname">İsim</label>
                <div class="help-block with-errors" />
              </div>
              <div class="form-group">
                <input id="cemail" type="email" class="form-control-input" required>
                <label class="label-control" for="cemail">Email</label>
                <div class="help-block with-errors" />
              </div>
              <div class="form-group">
                <textarea id="cmessage" class="form-control-textarea" required />
                <label class="label-control" for="cmessage">Mesajınız</label>
                <div class="help-block with-errors" />
              </div>
              <div class="form-group checkbox">
                <input id="cterms" type="checkbox" value="Agreed-to-Terms" required>Rekreasyonel Tasarım şirketine ait Gizlilik ve Güvenlik hukukunu okudum ve kabul ediyorum.<a href="privacy-policy.html"> Gizlilik ve Güvenlik</a>
                <div class="help-block with-errors" />
              </div>
              <div class="form-group">
                <button type="submit" class="form-control-submit-button">
                  Gönder
                </button>
              </div>
              <div class="form-message">
                <div id="cmsgSubmit" class="h3 text-center hidden" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-col">
              <h4>Hakkımızda</h4>
              <p>Profesyonel çekimler yapıyoruz.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="footer-col middle">
              <h4>İş Ortaklarımız</h4>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-circle" />
                  <div class="media-body">
                    <a class="turquoise" href="https://www.hotelnerede.com" target="_blank">www.hotelnerede.com</a>
                  </div>
                </li>
              </ul>
            </div>
          </div> <!-- end of col -->
          <div class="col-md-4">
            <div class="footer-col last">
              <h4>Sosyal Medya</h4>
              <span class="fa-stack">
                <a href="https://www.facebook.com/ekenelmehmet" target="_blank">
                  <i class="fas fa-circle fa-stack-2x" />
                  <i class="fab fa-facebook-f fa-stack-1x" />
                </a>
              </span>
              <span class="fa-stack">
                <a href="https://www.twitter.com/mehmetekenel_" target="_blank">
                  <i class="fas fa-circle fa-stack-2x" />
                  <i class="fab fa-twitter fa-stack-1x" />
                </a>
              </span>
              <span class="fa-stack">
                <a href="https://www.instagram.com/mehmetekenel" target="_blank">
                  <i class="fas fa-circle fa-stack-2x" />
                  <i class="fab fa-instagram fa-stack-1x" />
                </a>
              </span>
              <span class="fa-stack">
                <a href="https://www.youtube.com/channel/UCZz3ajRJWqf0DbAhVylOMOg" target="_blank">
                  <i class="fas fa-circle fa-stack-2x" />
                  <i class="fab fa-youtube fa-stack-1x" />
                </a>
              </span>
              <span class="fa-stack">
                <a href="https://www.linkedin.com/in/mehmetekenel" target="_blank">
                  <i class="fas fa-circle fa-stack-2x" />
                  <i class="fab fa-linkedin fa-stack-1x" />
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">
              Copyright © 2020 Tüm hakları saklıdır.
            </p>
            <p>Rekreasyonel Tasarım created by <b><a href="http://www.instagram.com/mehmetekenel" target="_blank">Mehmet EKENEL</a></b> and also he is a film director. </p>
            <p>This website developed by <a href="http://www.linkedin.com/in/eminfidan" target="_blank">Emin FİDAN</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="sass">
@import "~/assets/sass/swiper.scss"
@import "~/assets/sass/homepage.scss"

</style>
